.dashboard{
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(../../../assets/img/hotel6.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__banner{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dashboard__banner-tittle{
font-size: 40px;
font-weight: 900;
}

.dashboard__banner-subtittle{
    font-size: 15px;
    font-weight: 100;
}